{% extends 'generator/base.html' %}

{% block content %}

<div class="col-md-4 offset-md-4">
    <form action="{% url 'password' %}" class="card card-body">
        <h2 class="custom-password-settings" style="align-self: center; text-align: center;">Password settings</h2>
        <hr>
        <br>
        
        <div class="slider-row" title="Password length" style="display: flex;flex-wrap: nowrap;">
            Length
            <input type="range" name="length" id="length" class="form-range" value="14" min="8" max="20" step="2" oninput="this.nextElementSibling.value = this.value" style="padding: 12px;">
            <output>14</output>
        </div>
        <br>
        <div class="form-check form-switch my-2" title="...ABCDEFGH...">
            <label for="uppercase" class="form-check-label">Uppercase</label>
            <input type="checkbox" name="uppercase" id="uppercase" class="form-check-input">
        </div>
        <div class="form-check form-switch my-2" title="...123456...">
            <label for="numbers" class="form-check-label">Numbers</label>
            <input type="checkbox" name="numbers" id="numbers" class="form-check-input">
        </div>
        <div class="form-check form-switch my-2" title="...@#$%...">
            <label for="special" class="form-check-label">Special</label>
            <input type="checkbox" name="special" id="special" class="form-check-input">
        </div>
        <br>
        <button class="btn btn-primary">Generate</button>
    </form>
</div>

{% endblock %}    