{% extends 'generator/base.html' %}

{% block content %}
{% load static %}

<div class="col-md-4 offset-md-4">
    <div class="card card-body p-5 text-center">
        <h3>Generated Password</h3>
        <div style="display: inline-flex; justify-content: center; align-items: baseline; margin: 10px;" >
            <p id="password" style="font-size: x-large;"> {{ password }} </p>
        </div>
            <a href="javascript:void(0);"><span class="fas fa-copy" title="Copy to clipboard" onclick="copy('password')"></span></a>
    </div>
</div>
<script>
    function copy(id) {
        var r = document.createRange();
        r.selectNode(document.getElementById(id));
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
        console.log("Copied to clipboard");
    }
</script>
{% endblock %}