{% extends 'generator/base.html' %}

{% block content %}
{% load static %}


<div class="toast-container top-50 start-50 translate-middle-x">
    <div id="liveToast" class="toast align-items-center text-bg-primary border-0" data-bs-delay="2000" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <span class="fas fa-check-circle" style="margin-inline: 6px;"></span>
                Your password has been copied!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>
<div class="col-md-4 offset-md-4">
    <div class="card card-body text-center">
        <h3 class="custom-password-title">Password</h3>
        <hr>
        <div style="display: inline-flex; justify-content: center; align-items: baseline; margin: 10px;" >
            <p class="custom-password" id="password"> {{ password }} </p>
        </div>
        <hr>
        <span class="custom-icons-row">
            <a href="/" role="button" class="custom-btn" id="settingsBtn" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Change settings"><span class="fas fa-sliders-h" style="margin-inline: 10px;"></span></a>
            <a href="javascript:void(0);" role="button" onclick="copy('password')" class="custom-btn" id="copyBtn" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Copy to clipboard"><span class="fas fa-copy" style="margin-inline: 10px;"></span></a>
            <a href="javascript:void(0);" role="button" onClick="window.location.reload();" class="custom-btn" id="resetBtn" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Generate new"><span class="fas fa-sync-alt" id="copyBtn" style="margin-inline: 10px;"></span></a>
        </span>
    </div>
</div>

{% endblock %}