* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: gray;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.navbar {
    background-color: rgb(40, 45, 49) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.card {
    background-color: rgb(40, 45, 49) !important;
    color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.custom-menu-links > li > a, 
.navbar-brand {
    color: white;

}

.custom-menu-links > li > a:hover,
.custom-menu-links > li > a:focus,
.custom-menu-links > li > a:active {
    color: rgb(134, 183, 255);
}

.custom-password-title {
    color: rgb(134, 183, 255);
    margin-bottom: 0 !important;
}

.custom-password-settings {
    color: rgb(134, 183, 255);
    margin-bottom: 0 !important;
}

.dropdown-menu {
    background-color: rgb(40, 45, 49) !important;
}

.custom-btn {
    color: steelblue;
    background: transparent;
    border: none;
}

.custom-password {
    margin-bottom: 0 !important;
}
.tooltip-inner {
    background-color: rgb(134, 183, 255);
}