* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: gray;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.navbar {
    background-color: rgb(40, 45, 49);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    background-color: rgb(40, 45, 49) ;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-menu-links > li > a, 
.navbar-brand {
    color: white;

}

.custom-menu-links > li > a:hover,
.custom-menu-links > li > a:focus,
.custom-menu-links > li > a:active {
    color: rgb(134, 183, 255);
}

.custom-password-title {
    color: rgb(134, 183, 255);
}

.custom-password-settings {
    color: rgb(134, 183, 255);
}